<!doctype html>
<html>
<head>
	<title>Accueil</title>
    <% include layout%>
</head>
<body>
<div class="wrapper">
    <% include Menu %>
	<!-- Page Content  -->
	<div id="content">
		<div class="container">
			<h1><span class="accueil-titre">Progestion</span></h1>
			<h3><span class="accueil-bienvenue">Bienvenue adminitrateur tout puissant! Que voulez-vous faire ? :) </span> </h3>
			<div class="accueil-menu">
				<a href="/admin/users" class="action-button shadow animate blue">Les Projets</a>
				<a href="/admin/promotions" class="action-button shadow animate red">Les Promotions</a>
				<a href="/admin/matieres" class="action-button shadow animate green">Les Matières</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>
