<!doctype html>
<html>
<head>
    <title>Accueil</title>
    <% include layout%>
</head>
<body>
<div class="wrapper">
    <% if (user.roleU == "ETUDIANT"){ %>
    <% include Menus/MenuEtudiant %>
    <% } else if (user.roleU == "ENSEIGNANT"){ %>
    <% include Menus/MenuEnseignant %>
    <% } else { %>
    <% include Menu %>
    <% } %>
    <!-- Page Content  -->
    <div id="content">
        <div class="container">
            <h1><span class="accueil-titre">Progestion</span></h1>
            <h3><span class="accueil-bienvenue">Bienvenue <%= user.prenomU %> <%= user.nomU %>! Que voulez-vous faire ? :) </span> </h3>
            <div class="accueil-menu">
                <a href="/enseignant/projet" class="action-button shadow animate blue">Les Projets</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>