
.bs-example{
    margin: 20px;
}
body {
    padding-top: 80px;

}

.table > tbody > tr > td {
	vertical-align: middle;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left:auto;
  margin-right:auto;
}

.row > [class^="col-"],
.row > [class*=" col-"] {
  display: flex;
  align-items: center;
}

#liste{
    background-color: white;
}

#titre {
    padding-left: 20px;
}

.accueil-titre{
    font-family: 'Pacifico', cursive;
}
.accueil-titre{
    text-align: center;
    display: block;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 1em;
}

.accueil-bienvenue{
    font-family: 'Open Sans';
    font-size: 24px;
    margin-left: 2em;
}

.accueil-menu{
    position: absolute;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
    width:70%;
}

.action-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}

.blue
{
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}
.blue:hover
{
    background-color: #3ab3ff;
}

.red
{
    background-color: #E74C3C;
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31;
}

.red:hover
{
    background-color: #ff5443;
}

.green
{
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}


.green:hover
{
    background-color: #a3ef6a;
}

.yellow
{
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
}

.yellow:hover
{
    background-color: #ffe47c;
}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

.action-button:hover, .action-button:focus{
    color: #FFFFFF;
}

.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}