
.bs-example{
    margin: 20px;
}
body {
    padding-top: 80px;

}

.table > tbody > tr > td {
	vertical-align: middle;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left:auto;
  margin-right:auto;
}

.row > [class^="col-"],
.row > [class*=" col-"] {
  display: flex;
  align-items: center;
}

#liste{
    background-color: white;
}

#titre {
    padding-left: 20px;
}
